{
  "env": {
    "client": {
      "presets": ["env", "stage-3", "react", "flow"],
      "plugins": [
        "dynamic-import-webpack",
        "babel-plugin-root-import",
        [
          "transform-runtime", {
            "helpers": false,
            "polyfill": false,
            "regenerator": true,
            "moduleName": "babel-runtime"
          }
        ]
      ],
    },
    "server": {
      "presets": [
        "react",
        "flow",
        [
          "env", {
            "targets": {
              "node": true
            }
          }
        ]
      ],
      "plugins": [
        "dynamic-import-webpack",
        "transform-object-rest-spread",
        "dynamic-import-node",
        "babel-plugin-root-import",
        [
          "css-modules-transform", {
            "generateScopedName": "[path][name]__[local]--[hash:base64:5]",
            "extensions": [".css"],
          }
        ],
        [
          "babel-plugin-webpack-loaders", {
            "config": "webpack.config.ssr.babel.js",
            "verbose": false,
          }
        ],
        [
          "module-resolver", {
            "root": ["./src"],
            "alias": {
              "react": "react",
              "koa": "koa"
            }
          }
        ]
      ]
    }
  }
}
