{
  "env": {
    "client": {
      "presets": ["env", "stage-3", "react", "flow"],
      "plugins": [
        "babel-plugin-root-import",
        [
          "transform-runtime", {
            "helpers": false,
            "polyfill": false,
            "regenerator": true,
            "moduleName": "babel-runtime"
          }
        ]
      ],
    },
    "server": {
      "presets": [
        [
          "env", {
            "targets": {
              "node": true
            }
          }
        ]
      ]
    }
  }
}
